/*Entry Title*/
.content h1.entry-title {
    text-align:center;
	

}


/*Blog Ez Widget*/
#ez-feature-top-container .ez-widget-area h1 {
    border-bottom: 0px dotted #DDDDDD;
    color: #3A1907;
    font-family: 'PT Sans', sans-serif;
    font-size: 4.3rem;
    font-weight: bold;
    line-height: 1.25;
}



/*keyword reserach optin+newsletter*/
.tve_flt .tve_orange.tve_cb5 .tve_cb_cnt>p {
	text-shadow: none !important;
}

/*h3 post*/
.content .post h2, .content .post h3 {
margin-top: 40px;
}

/*Optin Sidebar*/
section#text-6 {
    border: 1px solid #dddddd;
    margin: 0px;
    width: 94%;
    background-color: rgba(244, 169, 58, 0.51);
}

/*CIP Strategy squeeze page*/
div#input_20_1 label {
    display: none;
}

div#input_20_1 {
    margin-bottom: 17px;
}

div#disclaimer-book {
    font-size: 10px;
}

/*Top 10 Sidebar*/

.top10-sidebar { 
    display: inline-block;
    vertical-align: middle;
}

.top10-sidebar a {
	color: black !important;
}
.top10-sidebar a:hover {
	color: #F18500;
    text-decoration: none;
}

.top10-sidebar li {
    font-size:15px;
	padding-bottom: 15px;
    position: relative;
    padding-left: 10px;
    min-height: 40px;
}


/*List Sidebar 'Da Non Perdere'*/

ul#menu-da-non-perdere, ul#menu-da-non-perdere a {
    line-height: 0.95 !important;
    text-transform: capitalize;
    font-size: 12px;
}


/*Thrive Buttons Homepage*/
.tve_btn.tve_nb.tve_red.tve_normalBtn.tve_btn1, .tve_btn.tve_nb.tve_red.tve_btn7.tve_normalBtn {
    border-radius: 5px;
}

/*Thrive button 'registrami' homepage*/
[data-tve-custom-colour="22330415"] {
box-shadow: rgb(63, 45, 28) 0px 5px 0px !important;
}

/*.full-width-content #ez-feature-top-container {
    max-width: 990px;
}*/


/*Thrive homepage builder*/
#my-content .tve_center.tve_content_inner {
    width: 970px !important;
}


.body-homepage.full-width-content #ez-fat-footer-container {
    max-width: 920px !important;
}

.full-width-content #ez-fat-footer-container {
	max-width: 890px;
}

.thrv_wrapper.tve_image_caption.aligncenter {
    width: 610px !important;
}


/*Tecniche Gratis Optin*/
body #tve_three_set .tve_p_lb_content .tve_p_lb_close {
	color: white !important;
}

/*Main Menu*/
/*align center main nav */
.genesis-nav-menu {
text-align: center;
}

.menu-secondary li {
display: inline-block;
float: none;
}

/*red Aida button*/
li#menu-item-2935 a {
font-weight: bold;
font-size: 22px;
color: #af000d;
line-height:22px;
}

/*Footer Optin Newsletter*/
button.ttfm1.footer-optin {
    box-shadow: rgb(63, 45, 28) 0px 3px 0px 0px !important;
}

/*OLD Gravity form
input#gform_submit_button_2 {
    float: right;
    margin: -70px 40px 0 0;
    height: 35px;
}

li#field_2_1 {
    width: 135px;

}

li#field_2_3 {

}

input#input_2_1,input#input_2_3 {
    height: 25px;
}*/


/*Related Post Css*/
.rp4wp-related-posts {
  padding-top: 40px;
}

.yuzo-list {
	border-bottom: 0px solid rgb(244, 244, 244);
}

/*Jetpack related post*/
div#jp-relatedposts h3.jp-relatedposts-headline em {

font-size:1.9rem;

}

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post {
font-size:20px;
}


div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context {

display: none;
}

/*shortcode 2step Leads like normal link*/
.tve-leads-two-step-trigger {
  cursor: pointer;
  color: #F18500;
  text-decoration: none;
  font-size:1.8rem;
}

.tve-leads-two-step-trigger:hover {
	text-decoration: underline;
transition: all 0.2s ease-in-out;
color: #F5C608;
}

/*Footer optin for Firefox*/
@-moz-document url-prefix() {
body #tve_two_set .thrv-leads-form-box .thrv_lead_generation.thrv_lead_generation_horizontal input[type="text"] {

    padding: 9px 10px !important;
}
}

/*Social Block Css*/
.onp-sl-terms-inner-wrap a {
text-decoration: underline;
}

/*Thrive Widget*/
section#widget_thrive_leads-2 {
border-bottom: 0px;
}

/*Message before Shares top content*/
div#msg-before {
font-size: 12px;
border-right: 1px solid #d2d2d2;
padding: 3px 10px 2px 0px;
margin: 0 10px 0 0;
color: #b1a9a5;
font-family: 'Oswald', Arial, Helvetica, sans-serif;
text-transform: uppercase;
line-height: 25px;
vertical-align: middle;
}

.essb_links.essb_template_tiny-retina {
width: 100%;
border-bottom: 1px solid #dbdbdb;
border-top: 1px solid #dbdbdb;
padding: 10px 0;
margin: 0px 0 20px 0;
float: left;
background: none;
position: relative;
clear: both;
}


/*Hide msg before bottom share*/
div.essb_template_flat-retina #msg-before {
display: none;
}



/*Social Native Button Top Content*/
.fb-like span {
width: 496px!important;
}

.essb_fb_like {
padding-bottom: 12px;
margin-top: 5px;
margin-left:10px;
}

.pluginButton {
  height: 20px;
  padding: 2px 0;
  margin-top: 4px;
}


/*Tips Box*/
.tips p {
font-size: 1.4rem;
}
.tips {
background: none repeat scroll 0 0 #ff9;
clear: both;
padding: 17px;
overflow: hidden;
border: 1px solid #e5e597;
margin-bottom: 18px;
}

/*Selection - text*/

::selection {
	background: #fff666;
	color: black;
}


::-moz-selection { /* Code for Firefox */
    background: #fff666;
	color: black;
}


/*EZ container homepage*/
.content-sidebar #ez-feature-top-container {
	
	width: 873px;
}

/*Blog ez feature*/

/*button for optin*/
div#header-blog {
    margin: 0 164px 0 70px;
}

div#ez-feature-top-container-wrap {
    border-bottom: 2px solid #0E0E12;
	background-color: rgba(244, 169, 58, 0.38);
}

div#ez-feature-top-2 {
    margin-bottom: -30px;
}

/*Remove date in comments*/
.comment-time-link {
    display:  none;
}

/*Comment CSS*/
.comment-list li .avatar {
border-radius: 100%;
}


/*temporary fix for blank space left by VideoSeo*/
[itemtype="http://schema.org/VideoObject"] {
display: none;
}

/*star bullet keyword research page*/
img.alignleft.wp-image-897{
margin: 21px 17px 10px 1px;
}

/*Quote on sidebar*/
div#quote {
color: #3B3B3B;
font-family: 'PT Sans', sans-serif;
font-size: 21px;
font-size: 1.54rem;
font-style: italic;
font-family: Sanchez, serif;
}

div#quote blockquote{
margin-left:7px;
margin-right:7px;

	
}

/*ebook squeeze page*/
div#gform_wrapper_10 {

padding: 15px;
/* background-color: rgba(250, 250, 149, 1); */
background:url('/wp-content/uploads/2014/06/ebook-adwords-gratis.png') top right no-repeat;
}

/*Stile popup*/
#displetpop .description {
    font-size: 13px;
    line-height: 17px;
}

/*Articolo sui colori - Css Boxes*/

#boxes {
padding-top:5px;
padding-bottom:35px;
text-align:center;
}
span.box-uno {
	border: 1px solid black;
	padding:20px 30px;
	background-color:black;
	color:green;
	
}

span.box-due {
	border: 1px solid black;
	padding:20px 20px;
	background-color:black;
	color:#F046F8;
	
}

span.box-tre {
	border: 1px solid black;
	padding:20px 30px;
	background-color:black;
	color:yellow;
	
}

#ez-feature-top-container .ez-widget-area h4 {
line-height:1.25;

}

/*Full Page header width*/
.full-width-content .site-header .wrap {
    width: 925px;
}

/*Sidebar newsletter*/
input#gform_submit_button_3 {
width: 100%;
height: 35px;
}



/*Squeeze page - OnPage SEO Guide*/
div#gform_wrapper_14 {
	max-width:70%;
}

/*Squeeze Page - Newsletter, Keyword Research & On-Page SEO*/
div#gform_wrapper_14, div#gform_wrapper_6, div#gform_wrapper_16, div#gform_wrapper_10, div#gform_wrapper_11, div#gform_wrapper_14 {
border: 1px solid #ddd;
padding: 15px;
background-color: #FFFCCA;
}

ul#gform_fields_6, ul#gform_fields_16, ul#gform_fields_14 {
width: 140%;
}

form#gform_6, form#gform_16, form#gform_14 {
margin-left: 140px;
}

#gform_submit_button_6, #gform_submit_button_16, #gform_submit_button_14 {
margin-left:25%;
}

img.alignnone.wp-image-614 {
position: absolute;
}




/*EZ Home Feature - GF Settings*/
#gform_wrapper_4, #gform_wrapper_15 {
width: 100%;
padding-top: 12px;
padding-left: 20px;
}

#gform_wrapper_4 .gform_footer.right_label, #gform_wrapper_15 .gform_footer.right_label {
float: right;
margin: -69px 84px 0 0;
}

#gform_submit_button_4, #gform_submit_button_15 {
padding: 10px 19px !important;
font-size: 1.5rem !important;
}

#gform_submit_button_4, #gform_submit_button_15 {

margin-left:145px;
}

@-moz-document url-prefix() { 
#gform_submit_button_15 {
    padding: 10px 19px !important;
    font-size: 1.5rem !important;
    margin-left: 140px;
}
}


#input_4_1, #input_15_1  {
width:44%;
}


/*TEST GF sidebar
#gform_wrapper_3 {
width: 70%;
}
#gform_wrapper_3 .gform_footer.top_label {
float: right;
margin: -46px -90px 0 0;
}
*/


/*In-Content Newsletter signup*/
#gform_wrapper_7, #gform_wrapper_17{
height:60px;

}
li#field_7_1, li#field_12_1, li#field_17_1 {
margin-top: -25px;
margin-right: 39px;
position: relative;
left: 152px;
}

form#gform_12, form#gform_17 {
margin-bottom: -58px;
}

#field_17_1 .gfield_required, #field_17_1 .gfield_required, #field_12_1 .gfield_required, #field_15_1 .gfield_required {

display:none;
}

input#gform_submit_button_7, input#gform_submit_button_12, input#gform_submit_button_17 {
margin-left: 250px;
margin-top: -18px;
position: relative;
top: -68px;
right:65px;
}

/*Header newsletter*/

li#field_5_1 {
/*margin-top: -25px;*/
margin-top: -40px;
margin-right:10px;
}

input#gform_submit_button_5 {
margin-left: 250px;
margin-top: -28px;
position: relative;
top: -40px;
right: 25px;
padding: 5px 16px !important;
}


#field_4_1 .gfield_required, #field_15_1 .gfield_required, {
display: none;
}


#descrizione-header {
width: 79%;
float: left;
font-size: 1.7rem;
font-weight:400;
top:-5px;
position:relative;
left:20px;
}

span.arrow {
font-size:3.0rem;
top:3px;
position:relative;
left: 70px;
}

/*Thumbnails*/
img.alignleft {
margin: 1px 10px 10px 1px;
}

/*Font Awesome for list on sidebar*/
/*.tptn_posts li:before {
        font-family:'FontAwesome';
	/*content:'f005';*/
	content:'\f0f4';
	display:inline-block;
	padding:2px 4px 0 0px;
	font-size:10px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}*/


/*Blockquote*/

.content blockquote {
padding: 0px 13px 0px;
}

.content blockquote p {
/*	text-align:center;*/
padding: 10px 35px 0px;
}

.content blockquote {
	-webkit-border-radius:0px;
	border-radius:0px;
}

.content blockquote:before {
font-size:2.5rem;
font-family:'FontAwesome';
content:'\f10d';
color: #444444;
position: absolute;
}

blockquote cite {
display: block;
font-size: 1.9rem;
}

/*Simple icons*/

.simple-social-icons ul li {
margin: 0 3px 9px !important;
}



/*Wrap width*/
.content-sidebar .content-sidebar-wrap {
width:853px;
}
.content-sidebar .site-inner {
max-width: 840px;
}

/*Read More link*/

/*.more-link {
position: inherit;
border: 1px dashed #DD5418;
background: none;
float: left;
margin-top: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-decoration: none;
/* color: white; */
padding: 5px 13px;
margin-bottom: 20px;
text-shadow: none;
cursor: pointer;
}*/

.more-link a {
font-size: 1.3rem;
text-decoration:none;
}

  .more-link:hover {
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb96e', endColorstr='#ffb96e',GradientType=0);
        
	color:#fefefe;
	border-color:#F29F22;
	text-decoration:underline;
    }
    /*.more-link:active {
        position:relative;
        top:1px;
    }*/

a span#morelink {
color: #DD5418;
}


/*Sidebar author*/
#text-2 {
margin-bottom: 0px;
}

/*Search button*/

#search-4{
margin: -29px 0 -22px;
}
.sidebar .search-form {
padding: 1px 22px 8px 6px;
}
.search-form input[type="search"]{
border-radius: 20px;
width: 211px;
height:7px;
}

.search-form {
float: right;
padding: 0px 6px 8px;
margin-top: 10px;
}
.search-form input[type="submit"] {
	font-family: FontAwesome;
	background: none;
	border: none;
	color: #734226;
	padding-left: 0;
	font-size: 2.2rem;
	vertical-align: middle;
}

.search-form input[type="submit"]:hover {
	background: none;
	border: none;
	color: #333;
}

section#search-3 {
  border-bottom: 0px;
}

/*Img blog page
.entry-image {
float: right;
}*/

img.alignnone.entry-image {
	padding-left:30%;
}


/*List*/
.archive-page ul li, .entry-content ul li {
	padding: 9px 5px 9px 9px;}

.entry-content ol li {
margin: 16px 0 0 35px;	
}

/*Style gravity form fields*/

#field_1_8, #field_10_3, #field_14_3 {
font-size:1.15rem;
}

.gform_wrapper ul.gfield_checkbox li input[type="checkbox"]:checked+label {
/* font-weight: bold; */
font-size: 1.3rem;
}

.gform_wrapper .top_label li.gfield.gf_right_half, .gform_wrapper .top_label li.gfield.gf_left_half {
margin: 0 0 4px 0;
width: 46%;
}


body #gform_wrapper_1 .gform_body .gform_fields .gfield .ginput_container {
font-size:inherit;
}

body #gform_wrapper_1 .gform_body .gform_fields .gfield input[type=text] {
font-size:inherint;
}

/*Img caption resize*/
.wp-caption {
width: 455px;
}



/*Call to action box*/
.action-box {
padding: 12px 10px;
margin: 15px 0px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-khtml-border-radius: 4px;
border-radius: 4px;
background: #eee;
font-size: 13px;
background-color: #734226;
border: 1px solid #2C1205;
color: #ffffff;
}

/*Gravity Form Labels*/
.gform_wrapper .top_label .gfield_label .gfield_required {
margin: -4px 0 -2px 0;
/* font-weight: bold; */
display: -moz-inline-stack;
display: inline-block;
line-height: 0.1;
clear: both;
display: none;
}

/*Author Widget*/
.author-pic {
padding-right:12px;
}
/*Margin Header*/
.header-image .site-header .wrap .title-area {
margin: 0px 0 10px 0px;
}


/*Remova tags for comments*/
.form-allowed-tags { display: none; }

/*Comment counter meta blog*/
.entry-footer .entry-meta {
border-top: 1px dotted #DDDDDD;
padding: 3px 0 18px 1px;
}

/*remove says from comment*/
.says {
	
	display:none;
}

/*Header Menu*/
.site-header .genesis-nav-menu {
border-radius: 20px;
text-align:center;

}

li#menu-item-2557 {
    font-size: 1.65rem;
}


li#menu-item-2557:hover {
    text-decoration: none;
}



/*Sidebar Title centred*/
.sidebar-primary h4 { 
text-align: center;
padding-right: 22px;
font-weight:400;
}

/*Caption*/
.wp-caption {
padding:1px;
}

/*Header Submenu*/
.site-header .genesis-nav-menu li li a, .site-header .genesis-nav-menu li li a:link, .site-header .genesis-nav-menu li li a:visited {
    font-size: 1.3rem;
}


/*Buttons Gravity Forms*/

.gform_button {
background: #AF000D;
border: 0px solid #DDDDDD;
width: auto;
padding: 10px 14px 10px 14px;
color: #FFFFFF;
font-family: 'PT Sans', sans-serif;
font-size: 1.7rem;
line-height: 19px;
cursor: pointer;
text-decoration: none;
-webkit-border-radius: 3px;
border-radius: 5px;
//-webkit-transition: all 0.2s ease-in-out;
//transition: all 0.2s ease-in-out;
align-items: flex-start;
text-align: center;
	
-webkit-box-shadow: 0px 3px 0px 0px #3F2D1C;
box-shadow: 0px 3px 0px 0px #3F2D1C;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;

}


/* gform placeholders - disabled because in conflict with optinmonster*/
/*::-webkit-input-placeholder { color:#FFF; }/*
:-moz-placeholder { opacity: 1; color:#FFF; } /* Firefox 18- */
/* ::-moz-placeholder { opacity: 1; color:#FFF; } /* firefox 19+ */
/* :-ms-input-placeholder { color:#FFF; } /* ie */
/* input:-moz-placeholder { color:#FFF; }*/

.gform_button:hover {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb96e', endColorstr='#ffb96e',GradientType=0);
	background-color:#FF8E00;
	color:#F29F22;
	border-color:#F29F22;
-webkit-box-shadow: 0px 3px 0px 0px #3F2D1C;
box-shadow: 0px 3px 0px 0px #3F2D1C;


}
.gform_button:active {
   position:relative;
   top:1px;
	-webkit-box-shadow: none;
	box-shadow: none;
	
    }

div.gform_footer input.button, #orange_button {
color:#ffffff;
text-decoration:none;
}


/*Gravity Form Fields Style*/

#gform_wrapper_1{
border: 1px solid #ddd;
padding: 15px;
max-width:100%;
}

.gform_wrapper .gform_heading {
margin-bottom: 1px;
}
#gform_wrapper_2 ul li.gfield input{
  width: 92%;
  max-width:200px;
  margin-bottom: 4px;
  border: #FFF solid 1px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

/*Tick button Newsletter contact form */

.gform_wrapper ul.gfield_checkbox li input[type="checkbox"]:checked+label {
font-weight:normal;
font-size:1.3rem;
}
				   
/*Image caption*/
p.wp-caption-text {
	margin: -5px 0 5px 0;
}




/*Responsive Design*/


@media (max-width: 980px) {

	.content-sidebar .site-header .wrap
	{
		width:800px;
	}
	.content-sidebar .site-container
	{
	min-width:100%;
	}
	.content-sidebar #ez-feature-top-container-wrap #ez-feature-top-container
	{
		width:800px;
	}
.site-header .genesis-nav-menu {
	width: 99%;
}
#gform_submit_button_15 {
margin-left: 120px;
}
}

@media (max-width: 900px) {
					.content-sidebar  .site-container .site-header .wrap,.full-width-content .site-container .site-header .wrap{
						width: 460px;
						/* margin-bottom: 17px; */
						margin: 20px auto;
					}
					.header-image .site-container .site-header .wrap .title-area
					{
						margin:0px auto;
						float:none;
					}
					.content-sidebar #ez-feature-top-container-wrap #ez-feature-top-container {
						width: 85%;
						height:auto;
						/* margin: 0px; */
					}
					#ez-feature-top-container-wrap #ez-feature-top-container .ez-widget-area h4 {
						line-height: 1;
						font-size: 2.5rem;
						
					}
					#ez-feature-top-container-wrap #ez-feature-top-container .ez-widget-area
					{
						font-size: 15.5px;
					}

					.content-sidebar .site-container .site-inner {
						width: 90%;
					}

					.content-sidebar .site-inner .content-sidebar-wrap {
						width: 100%;
					}
					.content-sidebar .content {
						width: 60%;
					}

					.content-sidebar .sidebar-primary {
						width: 32%;
					}
					.content-sidebar .site-footer .wrap {
						width: 90%;
					}
					.content .post h2, .content .page h2, .content h2.entry-title, .content .entry-content h2
					{
						line-height: 1;
						font-size: 2.5rem;
					}
					.entry-content p, .entry-content ul li, .entry-content ol li
					{
						font-size: 15.5px;
					}
					#ez-feature-top-container .ez-widget-area {
					padding-bottom:0px;
					}

					
}

@media (max-width: 800px) {
.fa {
		display:none;
	}
}

@media (max-width: 768px) {
					.content-sidebar  .site-container #gform_wrapper_15 .gform_footer.right_label {
						float: none;
						margin: 0px;
						padding: 0px;
					}
					.content-sidebar  .site-container #input_15_1
					{
						width:60%;
					}
					.content-sidebar  .site-container input#gform_submit_button_5 {
						margin-left: 0px;
						margin-top: 0px;
						position: relative;
						top: 0px;
						right: 0px;
						padding: 5px 16px !important;
					}

					.content-sidebar  .site-container #gform_wrapper_15 .gform_footer.right_label {
						float: none;
						margin: 0px;
						padding: 0px;
					}
					.full-width-content .site-container {
						width: 100%;
						min-width: 100%;
					}
					.full-width-content .site-inner {
						width: 100%;
						padding: 20px 0px;
					}
					.full-width-content .content-sidebar-wrap {
						width: 100%;
						padding: 0px;
					}
					.full-width-content .content {
						width: 80%;
						margin: 0px auto;
						padding: 0px;
						float: none;
					}
.fa {
		display:none;
	}

/*Footer optin*/
input#gform_submit_button_2 {
margin: -70px 120px 0 0;
}
}

@media (max-width: 640px) {
.single-post #descrizione-header
{
font-size:14px;
}
					.content-sidebar .content {
						width: 92%;
					}
					.post-image
					{
						width:100%;
						height:auto;
					}
					.content-sidebar .sidebar-primary {
						width: 90%;
						float:left;
					}
					#descrizione-header
					{
						font-size: 15px;
					}
					.single-post .site-container #ez-feature-top-container-wrap {
						width: 100%;
					}
					.ez-widget-area ul li {
						list-style-type: square;
						line-height: 23px;
						font-size: 13px;
					}
					p
					{
						font-size:13px;
					}
					.content .post h1, .content .page h1, .content h1.entry-title, .content .entry-content h1
					{
						font-size: 24px;
					}
					.content .post h2, .content .page h2, .content h2.entry-title, .content .entry-content h2
					{
						font-size: 22px;
					}
					.entry-content p, .entry-content ul li, .entry-content ol li
					{
						font-size: 16.5px;
						line-height: 23px;
					}
					.content .post h3, .content .page h3, .content .entry-content h3
					{
						font-size: 20px;

					.content .post h4, .content .page h4, .content .entry-content h4
					{
						font-size: 19px;
					}
					.entry-content ul li {
						padding: 4px;
					}
					.entry-content p {
						margin: 0 0 20px;
					}
.content-sidebar .site-container #input_15_1 {
width: 100%;
}
.content-sidebar  .site-container #gform_wrapper_15
{
padding-left:0px;
}
.content-sidebar  .site-container .gform_wrapper .top_label input.medium
{
width:100%;
}
.single-post #upprev_box
{
width:50%;
}
.fa {
		display:none;
	}
#gform_submit_button_15 {

margin-left:35px;
width:105% !important;
}
}
@media (max-width: 570px) {
					.header-image .site-header .wrap .title-area
					{
						height: 110px;
						background-size: 100%;
					}
					.header-image .title-area, .header-image .site-title, .header-image .site-title a
					{
						width: 200px;
					}
					.site-header .widget-area {
						width: 400px;
						padding: 24px 0px 0 0;
						float: none;
						text-align:center;
						margin: 0px auto;
					}
					.feature-top-outside #ez-feature-top-container-wrap
					{
						width:100%;

					}
					.content-sidebar  .site-container .site-header .wrap,.full-width-content .site-container .site-header .wrap{
					
						width:100%;
					}
.gform_wrapper .left_label input.medium
					{
					width:40%;
					}
					#gform_fields_12 li#field_12_1{
					left: 0px;
					}
					.header-newsletter input#gform_submit_button_12
					{
					margin-left: 120px;
					}
.fa {
		display:none;
	}

form#gform_16 {	
margin-left:5px;
margin-right: 100px;
}
img.alignnone.wp-image-614 {
	position: relative;
}


.header-newsletter input#gform_submit_button_12 {
	
	margin-left: 10px;
}

input#gform_submit_button_12 {
margin-top: -18px;
margin-bottom: 50px;
position: relative;
top: -18px;
right:41px;
}

#gform_fields_12 {
padding-left: 100px;
width:770px;
}

body .gform_wrapper input.gform_button.button, body .gform_wrapper input[type=submit] {
	width: 90% !important;
}
#field_10_1, #field_10_2, #field_16_1, #field_16_2 {
width: 180%;
}
div#gform_wrapper_10 {
	background: none;
	background-color: rgba(250, 250, 149, 1);
}
#gform_submit_button_6 {
margin-left:-1%;
}


ul#gform_fields_6 {
width:180%;
}

form#gform_6 {
margin-left:40px;
}

/*Footer Headers*/
h4.widget-title.widgettitle {
    font-weight: bold;
}

/*Footer optin*/
/*input#gform_submit_button_2 {
margin: -70px 120px 0 0;
}*/

li#field_2_1 {
width: 165px;
}
li#field_2_3 {
width: 245px;
}

/*#ez-feature-top-2 {
margin-bottom: -55px !important;
}*/
}

/* Added to Dynamik Design */

@media (max-width: 480px) {

	.full-width-content .site-footer .wrap {
		width:90%;
	}
				.site-header .widget-area,.site-header .genesis-nav-menu
				{
					width:160px;
				}

				.site-header .genesis-nav-menu li
				{
					width:100%;
				}
				.site-inner
				{
					padding:0px;
				}
				.widget-wrap .mobile-nav
				{
			/*display:block !important;*/
				}
				nav.nav-header
				{
				/*display:none;*/
				}
	.fa {
		display:none;
	}
	div#msg-before {
font-size: 1.8rem;
	padding: 0px 0px 0px 0px;
}

input#gform_submit_button_12 {
margin-top: 10px;
position: relative;
top: -33px;
right: 8px;
margin-bottom: 20px;
}

body .gform_wrapper input.gform_button.button, body .gform_wrapper input[type=submit]{
	width: 90% !important;
}

.content blockquote {
background: transparent;
border-top: 0px solid #DDDDDD;
border-bottom: 0px solid #DDDDDD;
border-left: 0px solid #DDDDDD;
border-right: 0px solid #DDDDDD;
margin: 5px 1px 10px 10px;
}
#gform_fields_12 {
width: 620px;
}

.sidebar.widget-area ul {
	
	padding: 15px 15px 15px 25px;
}

img {
padding-left: 10px;
padding-right: 10px;

/*added css for nicer results
padding: 1px;
    border: 1px solid rgb(131, 131, 131);
    background-color: rgb(252, 252, 252);*/
}

.alignright {
	margin: 0 15px 10px 35px;
}
div#gform_wrapper_10 {
	background: none;
background-color: rgba(250, 250, 149, 1);
}
#field_10_1, #field_10_2, #field_16_1, #field_16_2 {
width: 180%;
}

form#gform_6 {
margin-left:10px;
}

ul#gform_fields_6 {
width:190%;
}

#gform_submit_button_6 {
margin-left:1%;
}

ol.top10-sidebar {
	padding-left: 24px !important;
}
/*button for optin*/
div#header-blog {
    margin: 0 144px 0 70px;
}
}

/* Added to Dynamik Design */


@media (max-width: 400px) {
	.full-width-content .site-footer .wrap {
		width:93%;
	} /* can remove this block */
.content-sidebar .site-container .site-inner {
width: 100% !important;
margin: 0px !important;
padding: 0px !important;
}
.content-sidebar .site-inner .content-sidebar-wrap {
width: 100% !important;
}
.content-sidebar .content
{
width: 320px !important;
margin: 20px auto !important;
padding: 0px !important;
float: none !important;
}
	.fa {
		display:none;
	}
	
	.fa-angle-double-right:before {
content: "\f101";
		display:none;
}
div#msg-before {
font-size: 1.8rem;
padding: 0px 0px 0px 0px;
}
	
form#gform_16 {	
margin-left:5px;
margin-right: 60px;
}
img.alignnone.wp-image-614 {
	position: relative;
}



body .gform_wrapper input.gform_button.button, body .gform_wrapper input[type=submit] {
width: 50% !important;
}


input#gform_submit_button_12 {
margin-top: 10px;
position: relative;
top: -33px;
right: 35px;
margin-bottom: 20px;
}

#gform_fields_12 {
padding-left: 20px;
width:620px;
}

body .gform_wrapper input.gform_button.button, body .gform_wrapper input[type=submit] {
	width: 95% !important;
}

.wrap {
	width: 90%;
}
#gform_submit_button_15 {

margin-left:1px;
width:95% !important;
}
/*Footer optin*/
input#gform_submit_button_2 {
margin: -20px 125px 0 0;
height: 35px;
width: 205px !important;
}

li#field_2_1 {
width:245px;
}
li#field_2_3 {
width: 245px;
}

}
/*finish 400px*/

.mobile-nav
{
display:none;
position: absolute;
width: 25px;
top: 40px;
right: 18px;
}
.mobile-nav img:hover
{
cursor:pointer;
}